@mixin button {
    text-decoration: none;
    font-size: $font-size20;
    font-family: $font-medium;
    border: 2px solid $color-orange;
    border-radius: 22.5px;
    height: 45px;
    text-align: center;
    padding: 10px;
}

@mixin scroll {
    background-color: $color-white;
    border-radius: 50%;
    font-family: $font-roboto;
}