// fonts
$font-roboto: 'Roboto', sans-serif;
$font-regular: 'Roboto Regular', sans-serif;
$font-bold: 'Roboto Slab', sans-serif;
$font-size16: 1.6rem;
$font-size18: 1.8rem;
$font-size20: 2rem;


// colors
$color-black: black;
$color-grey-back: #4a4a4a;
$color-orange: #f26002;
$color-white: white;
$color-white-back: #f2f2f2;
$color-black-opacity: rgba(0, 0, 0, 0.2);
