.connect {
    display: flex;
    flex-direction: column;
    height: 376px;
    margin: 34px 12px 44px 21px;
    &__title {
      font-family: $font-bold;
      font-size: 2.4rem;
      color: $color-black;
      height: 30px;
    }
    &__subtitle {
        font-family: $font-regular;
        font-size: 1.4rem;
        color: $color-orange;
        font-weight: 200;
        height: 22px;
    }
    &__text {
        font-family: $font-regular;
        font-size: $font-size18;
        color: $color-grey-back;
        line-height: 1.67;
        margin-top: 11px;
        margin-bottom: 20px;
    }
    &__button {
        text-decoration: none;
        color: $color-orange;
        font-size: $font-size20;
        font-family: $font-medium;
        font-weight: 600;
        border: 2px solid $color-orange;
        border-radius: 22.5px;
        width: 160px;
        height: 45px;
        text-align: center;
        padding: 10px;
        

    }

}