.footer {
    background-color: $color-grey-back;
    height: 465px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    padding-bottom: 59px;
    @media (min-width: 768px) {
        flex-direction: row;  
        justify-content: center;
        height: 240px;
        align-items: start;
        gap: 30px;
        padding-top: 58px;  
    }
    &__copy {
        font-size: 1.4rem;
        font-family: $font-regular;
        line-height: 2.14;
        height: 32px;
        &--heart {
            color: $color-orange;
        }
        @media (min-width: 768px) {
            order:-1;
            text-align: left;
            width: 159px;
        }
   
    }
    &__arrow {
        @include scroll;
        width: 45px;
        height: 45px;
        transform: translateY(-50%);
        &--image {
         transform: translateY(50%);
        }
        @media (min-width: 768px) {
            order:-2;
            position: absolute;
            transform: translateY(-180%);
        }
    }
}
