.footer {
    background-color: $color-grey-back;
    height: 465px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}