.header {
  background-color: $color-orange;
  width: 37px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  @media (min-width: 768px) {
    width: 41.6px;
    height: 44px;
  }
  @media (min-width: 1200px) {
    width: 45.1px;
    height: 44.9px;
  }

  &__icon {
    width: 14px;
    height: 11px;
    @media (min-width: 768px) {
      width: 15px;
      height: 14px;
    }
    @media (min-width: 1200px) {
      width: 16.4px;
      height: 14.3px;
    }
  }
}