.training {
    background-color: rgb(234, 137, 154);
    // background-color: $color-white-back;
    display: flex;
    flex-direction: column;
    &__button {
        @include button;
        color: $color-white;
        background-color: $color-orange;
    }
}

