.training {
    background-color: $color-white-back;
    display: flex;
    flex-direction: column;
    height: 624px;
    align-items: center;
    gap: 40px;
    @media (min-width: 768px) {
        height: 390px;
        gap:30px;
    }
    @media (min-width: 1200px) {
        height: 417px;
        padding-left: 91px;
        padding-right: 81px;
    }
    &__title {
        font-size: $font-size20;
        font-family: $font-bold;
        color: $color-black;
        width: 290px;
        height: 60px;
        text-align: center;
        width: 18ch;
        margin-top: 29px;
        @media (min-width: 768px) {
            font-size: 2.8rem;
            width: 450px;
            margin-top: 49px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 180px;
        grid-template-rows: repeat(3,93px);
        gap: 50px;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3,212px);
            grid-template-rows: 1fr; 
        }
        @media (min-width: 1200px) {
            grid-template-columns: repeat(3,358.8px);  
            gap: 15px;
        }
        &--button {
            @include button;
            color: $color-white;
            background-color: $color-orange;
            font-weight: 500;
            width: 184px;
            transform: translateY(-50%);
            &:hover {
                background-color: $color-white;
                color: $color-orange;
                transition: background-color 1.5s;
                transition: color 0.5s;
            }
            @media (min-width: 768px) {
                transform: translateX(150%);
            }
            @media (min-width: 1200px) {
                transform: translate(250%,150%);
            }
        }
    }
}