<footer class="footer">
    <div class="footer_arrow"></div>
    <nav>
        <ul>
            <li>zapatillas</li>
            <li>ropa</li>
            <li>niño/a</li>
            <li>destacados</li>
            <li>tips</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>twitter</li>
            <li>instagram</li>
            <li>youtube</li>
        </ul>
    </nav>
    <div>
        <p>&copy;2023</p>
        <p>werun</p>
    </div>
   <!-- meter icono corazon -->
</footer>