<footer class="footer">
    <div class="footer_arrow"></div>
    <nav>
        <ul>
            <li><a href="#">zapatillas</a></li>
            <li><a href="#">ropa</a></li>
            <li><a href="#">niño/a</a></li>
            <li><a href="#">destacados</a></li>
            <li><a href="#">tips</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="#">twitter</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">youtube</a></li>
        </ul>
    </nav>
    <div>
        <p>&copy;2023</p>
        <p>werun</p>
    </div>
   <!-- meter icono corazon -->
</footer>