<section class="training">
    <h5 class="training__title" id="training">Año nuevo, movimientos nuevos</h5>
    <section class="training__list">
        <load src="/partials/trainingItem.html" titleItem="Entrenamientos" textItem="Sesiones de running y entrenamientos."/>
        <load src="/partials/trainingItem.html" titleItem="Cualquier nivel" textItem="Entrenamientos para cada nivel."/>
        <load src="/partials/trainingItem.html" titleItem="Exclusividad" textItem="Productos para miembros premium."/>
        <a href="../index.html" class="training__list--button">Empezar ahora</a>
    <section>  
</section>