<section class="training">
    <h5>Año nuevo, movimientos nuevos</h5>
    <section>
        <div>
            <h6>Entrenamientos</h6>
            <p>Sesiones de running y entrenamientos.</p>
        </div>
        <div>
            <h6>Cualquier nivel</h6>
            <p>Entrenamientos para cada nivel.</p> 
        </div>
        <div>
            <h6>Exclusividad</h6>
            <p>Productos para miembros premium.</p> 
        </div>
    </section>
    <button>Empezar ahora</button>
</section>